<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
 <mapper namespace="com.itwillbs.garge.mapper.AdminMapper">
 
 	<!-- 금일 회원가입 인원 -->
 	<select id="selectMemberJoin" resultType="map">
 		SELECT COUNT(member_num) as selectMemberIn
		FROM MEMBER
		WHERE DATE_FORMAT(member_insert_date, "%Y-%m-%d") = CURDATE()
 	</select>
 	
 	<!-- 전체 회원 목록 -->
 	<select id="selectMemberAll" resultType="com.itwillbs.garge.vo.MemberVO">
 		SELECT *
 		FROM MEMBER
 		ORDER BY member_insert_date DESC
 	</select>
 	
 	<!-- 전체 회원 수 -->
 	<select id="selectMemberCount" resultType="map">
 		SELECT COUNT(*) as member
 		FROM MEMBER
 	</select>
 	
 	<!-- 관리자 계정 조회 -->
 	<select id="selectAdminMember" resultType="com.itwillbs.garge.vo.MemberVO">
 		SELECT *
 		FROM MEMBER
 		WHERE member_id = #{id} AND member_state = '관리자'
 	</select>
 	
 	<!-- 가입일로 회원 조회 -->
 	<select id="selectMemberPeriod" resultType="com.itwillbs.garge.vo.MemberVO">
 		SELECT *
 		FROM MEMBER
 		WHERE 
 		<if test="!startDate.equals('')">
 			member_insert_date BETWEEN #{startDate}
 			<choose>
 			<when test="!endDate.equals('')">
 				AND date_format(date(#{endDate}) + 1, '%Y-%m-%d')
 			</when>
 			</choose>
 		</if>
 		ORDER BY member_insert_date DESC
 	</select>
 	
 	<!-- 가입일로 회원 수 조회 -->
 	<select id="selectMemberCountPeriod" resultType="map">
 		SELECT COUNT(*) as memberCount
 		FROM MEMBER
 		WHERE 
 		<if test="!startDate.equals('')">
 			member_insert_date BETWEEN #{startDate}
 			<choose>
 			<when test="!endDate.equals('')">
 				AND date_format(date(#{endDate}) + 1, '%Y-%m-%d')
 			</when>
 			</choose>
 		</if>
 	</select>
 	
 	<!-- 출금한 내역 조회-->
<!--  	<select id="selectDepositList" resultType="com.itwillbs.garge.vo.DepositVO"> -->
 	<select id="selectWithdrawList" resultType="com.itwillbs.garge.vo.DepositVO">
 		SELECT 
			D.buy_check
		    , D.product_price
		    , D.commission
		    , D.deposit_bank
		    , D.deposit_acc
			, M.member_name
		FROM DEPOSIT D JOIN MEMBER M
		ON D.member_id = M.member_id;
 	</select>
 	
 	<!-- 입금한 내역 조회-->
 	<select id="selectDepositList" resultType="com.itwillbs.garge.vo.WithdrawVO">
 		SELECT 
			W.product_price
		    , W.withdraw_bank
		    , W.withdraw_acc
			, M.member_name
		FROM WITHDRAW W JOIN MEMBER M
		ON W.member_id = M.member_id;
 	</select>
 	
 	

 
 
 
 
 </mapper>