<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.itwillbs.garge.mapper.MainMapper">
    	<select id="selectCategory" resultType="map">
    		select * from category
    	</select>

    	<select id="selectMemberAddress" resultType="map">
    		SELECT * FROM MY_ADDRESS
    		WHERE member_id = #{sId}
    	</select>
    	
    	<select id="selectMember" resultType="com.itwillbs.garge.vo.MemberVO">
    		SELECT * FROM MEMBER
    		WHERE member_id = #{uid}
    	</select>
    </mapper>