<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.itwillbs.garge.mapper.MyPageMapper">
    	<select id="selectMember" resultType="map">
    		<![CDATA[ 
			SELECT m.*,
				   ma.my_address_num, ma.recipient_name, ma.recipient_phone_num, ma.address1, ma.address2, ma.address_name, ma.address_main,
				   ac.account_num, ac.account_bank, ac.account_name, ac.account_main
			FROM MEMBER m 
			LEFT JOIN MY_ADDRESS ma ON m.member_id = ma.member_id
			LEFT JOIN MY_ACCOUNT ac ON m.member_id = ac.member_id
			WHERE 1=1 AND m.member_id = #{sId} AND ma.address_main = TRUE AND ac.account_main = TRUE;
			]]>
    	</select>
    	
    	<select id="selectMemberInfo" resultType="list">
    		SELECT *
    		FROM ${table_name}
    		WHERE member_id = #{sId};
    	</select>
    	
    	<update id="updateMember">
    		UPDATE MEMBER
			SET ${modify_type} = #{modify_value}
			<if test="#{modify_type2}">
				, ${modify_type2} = #{modify_value2}
			</if>
			WHERE member_id = #{sId};
    	</update>
    </mapper>