<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.itwillbs.garge.mapper.PayMapper">
    	<select id="selectMyAddress" resultType="map">
    		SELECT *
    		from MY_ADDRESS
    		WHERE member_id = #{sId}
    	</select>

    	<select id="selectMyAddressMain" resultType="map">
    		SELECT  member_id 
    		 -- , my_address_num
				, recipient_name
				, recipient_phone_num
				, address1
				, address2
				, address_name
			--	, address_main
				, postcode
    		from MY_ADDRESS
    		WHERE member_id = #{sId} AND address_main = 1
    	</select>
    	
    	<insert id="insertAddress">
    		INSERT 
    		INTO MY_ADDRESS (member_id, recipient_name, recipient_phone_num, address1, address2, address_main, postcode)
				VALUES (
		            #{member_id}
		            , #{member_name}
		            , #{member_phone}
		            , #{member_address1}
		            , #{member_address2}
		            , 0
		            , #{zonecode}
				)
    	</insert>

    	<update id="updateMainAddress">
    		UPDATE MY_ADDRESS
    		SET address_main = '0'
    		WHERE address_main = '1' AND member_id = #{member_id};
    	</update>
    	
    	<insert id="insertMainAddress">
    		INSERT 
    		INTO MY_ADDRESS (member_id, recipient_name, recipient_phone_num, address1, address2, address_main, postcode)
				VALUES (
		            #{member_id}
		            , #{member_name}
		            , #{member_phone}
		            , #{member_address1}
		            , #{member_address2}
		            , 1
		            , #{zonecode}
				)
    	</insert>
    </mapper>