<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.itwillbs.garge.mapper.ShopMapper">
   	<insert id="registProduct">
		INSERT INTO PRODUCT
		VALUES (null
				,#{product_name}
				,#{product_price}
				,#{product_info}
				,now()
				,#{category_idx}
				,#{product_main_img}
				,#{upload_dir}
				,#{trading_method}
				,#{product_status}
				,#{trading_location}
			   )
	</insert>
</mapper>